@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
--branco:rgb(255, 255, 255);
--cor-de-fundo:#00162E;
--fundo-senha:#00244D;
--fundo-texto:#001E40;
--borda:#0075FF;
--Quicksand:'Quicksand';
--Comfortaa:'Comfortaa';

}
body{
    color:var(--branco);
    background-color: var(--cor-de-fundo);
}
.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}
.titulo-principal{
    font-family: var(--Quicksand);
    font-size: 30px;
}
.titulo-secundario{
    font-size: 20px;
    font-family: var(--Comfortaa);
}
.conteudo-senha{
    background: var(--fundo-senha);
    padding: 20px;
  border-bottom:6px solid var(--borda);
  margin-top: 80px;
  font-family: var(--Comfortaa);
}
#campo-senha{
    border:none;
    color:var(--branco);
    font-family: var(--Quicksand);
    font-size: 40px;
    width: 70%;
    background-color: var(--fundo-senha);
}
#campo-senha:focus{
    outline: none;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}